@model WebHeroCreator.Models.HeroModel

<h2>Create a New Hero</h2>
<link rel="stylesheet" href="~/css/site.css" />
<form method="post" action="/Home/Create">
    <div class="form-group">
        <label for="Name">Hero Name</label>
        <input type="text" class="form-control" id="Name" name="Name" required />
    </div>

    <div class="form-group">
        <label for="ClanName">Clan Name</label>
        <select class="form-control" id="ClanName" name="ClanName" required>
            <option value="">-- Select Clan --</option>
            @foreach (var clan in ViewBag.Clans)
            {
                <option value="@clan">@clan</option>
            }
        </select>
    </div>

    <div class="form-group">
        <label for="PowerAttribute">Power Attribute</label>
        <select class="form-control" id="PowerAttribute" name="PowerAttribute" required>
            <option value="">-- Select Attribute --</option>
            @foreach (var a in ViewBag.PowerAttributes)
            {
                <option value="@a">@a</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-success">Save Hero</button>
</form>
